<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Resturant Menu</title>
    <!-- set icon -->
    <link rel="icon" href="/Icons/resIcon.png" type="image/png">
    <link rel="stylesheet" href="/Styles/main-style.css">
</head>
<body>
    <img src="/Imgs/welcome.png" alt="Welcome Image">
    <button onclick="location.href='/food'">Go to Food Menu</button>
</body>
</html>